In [2]:
###TASK1####
#Que1- To install jupyter notebook and print first output
print("This is my first result after installing jupyter notebook")

This is my first result after installing jupyter notebook

In [35]:
#Que2- List all the numbers between 2000 to 3200 which are divisible by 7 but not multiple of 5
a = list(range(2000,3200))
b = []
for i in a:
    if i % 7 == 0:
        if i % 5 != 0:
            b.append(i)
b

[2002,
 2009,
 2016,
 2023,
 2037,
 2044,
 2051,
 2058,
 2072,
 2079,
 2086,
 2093,
 2107,
 2114,
 2121,
 2128,
 2142,
 2149,
 2156,
 2163,
 2177,
 2184,
 2191,
 2198,
 2212,
 2219,
 2226,
 2233,
 2247,
 2254,
 2261,
 2268,
 2282,
 2289,
 2296,
 2303,
 2317,
 2324,
 2331,
 2338,
 2352,
 2359,
 2366,
 2373,
 2387,
 2394,
 2401,
 2408,
 2422,
 2429,
 2436,
 2443,
 2457,
 2464,
 2471,
 2478,
 2492,
 2499,
 2506,
 2513,
 2527,
 2534,
 2541,
 2548,
 2562,
 2569,
 2576,
 2583,
 2597,
 2604,
 2611,
 2618,
 2632,
 2639,
 2646,
 2653,
 2667,
 2674,
 2681,
 2688,
 2702,
 2709,
 2716,
 2723,
 2737,
 2744,
 2751,
 2758,
 2772,
 2779,
 2786,
 2793,
 2807,
 2814,
 2821,
 2828,
 2842,
 2849,
 2856,
 2863,
 2877,
 2884,
 2891,
 2898,
 2912,
 2919,
 2926,
 2933,
 2947,
 2954,
 2961,
 2968,
 2982,
 2989,
 2996,
 3003,
 3017,
 3024,
 3031,
 3038,
 3052,
 3059,
 3066,
 3073,
 3087,
 3094,
 3101,
 3108,
 3122,
 3129,
 3136,
 3143,
 3157,
 3164,
 3171,
 3178,
 3192,
 3199]

In [221]:
#Que3- To accept user's first and last name in print in reverse order with space between two.
a=input("Enter your First Name:")
b=input("Enter your Last Name")
c = a[::-1]
d = b[::-1]
print(c,d)

Enter your First Name:Prashant
Enter your Last NameTiwari
tnahsarP irawiT

In [51]:
#Que4- Find volume of spehere with diameter 12 cm
d = 12
r = d / 2 
V = 4/3*3.14*r*r*r
print(V)

904.3199999999998

In [31]:
####TASK2####
#Que1- program to accept a sequence of comma seperated values from console and generate list
a = input("Enter comma seperated numbers:")
b = []
for i in range(len(a)):
        b.append(i)
b
#I am not sure how to do this, can you please help here. Meanwhile i shall try to do this.

Enter comma seperated numbers:1,2,3,4,5

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [1]:
#Que2- Program to generate pattern
a = range(1,5)
b = range(6)
for i in a:
    print(i * "*")
for j in b[::-1]:
    print(j * "*")

*
**
***
****
*****
****
***
**
*

In [207]:
#Que3- Program to reverse word after accepting from console
a = input()
b = a[::-1]
b

prashant

'tnahsarp'

In [150]:
#Que4- print the string in format
print("WE, THE PEOPLE OF INDIA,\n\thaving solemnly resolved to constitute India into a SOVEREIGN,'!'\n\t\t SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n\t\t and to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN,'!'
		 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		 and to secure to all its citizens